*{
    box-sizing: content-box;
    font-family: 'Oxygen', sans-serif;
    background-color: rgb(238, 238, 238);
}
h1{
    color: orange;
    font-weight: 900;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
section{
    border: black 1px solid;
    width: 50%;
    height: 200px;
    margin: auto;
}
.div1{
    padding: 2% 10% 2% 25%;
}
.div2{
    float: left;  
    margin: 2% 1% 2% 9%;
}
.div3{
    clear: both;
    padding: 2% 15% 2% 28%;
}
.boton{
    border-radius: 100%;
    width: 20px;
    height: 20px;
}